.header {
  background: #050505;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  color: #5E60CE;
  transform: rotate(-45deg);
}

.logo h1 {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 4px;
}

.blue {
  color: #1E6F9F;
}

.purple {
  color: #5E60CE;
}
